 
 .app-grid{
  display: grid;
  grid-template-columns: 1fr 1fr; /* ทำให้เป็น2ฝัง 2คลอลัมที่เท่ากัน */
  column-gap: 16px;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px                            ;

 }

  